<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Projet Cesi{% endblock %}</title>
        {# <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}"> #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header col-md-3 col-lg-2">
                        <a class="navbar-brand" href="{{ path('app_contact') }}">
                            Projet Cesi
                        </a>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            <div id="main">
                {% if app.request.hasPreviousSession %}
                    <div class="messages">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                {# Bootstrap alert, see https://getbootstrap.com/docs/3.4/components/#alerts #}
                                <div class="alert alert-dismissible alert-{{ type }} fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'action.close'|trans }}">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    {{ message|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>