{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste de contacts</h1>
<p><a href="{{ path('app_contact_create')}}">Créer un contact</a></p>
{% if contacts is empty %}
     <p>Il y a pas de contact</p>
{% else  %}
     <ul> 
     {% for contact in contacts %}
          <li>
          <a href="{{ path('app_contact_edit',{id: contact.id}) }}">{{contact.firstname}} {{contact.lastname}}</a>
          -
          <a href="{{ path('app_contact_delete',{id: contact.id}) }}">Supprimer</a>
          </li>
     {% endfor %}
     </ul>
{% endif %}
{% endblock body %}
